<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.trip.notice.mapper.NoticeMapper">
	<select id="listNotice" resultType="NoticeDto">
		SELECT notice_no as NoticeNo, user_id as userId, title, contents, created_at as createdAt, updated_at as updatedAt
		FROM trip.notice
		ORDER BY NoticeNo DESC
			LIMIT #{offset}, #{limit}
	</select>

	<select id="searchNotice" resultType="NoticeDto">
		SELECT notice_no as NoticeNo, user_id as userId, title, contents, created_at as createdAt, updated_at as updatedAt
		FROM trip.notice
		<where>
			<if test="key != null and key != '' and word != null and word != ''">
				<choose>
					<when test="key == 'title'">
						title LIKE CONCAT('%', #{word}, '%')
					</when>
					<when test="key == 'content'">
						contents LIKE CONCAT('%', #{word}, '%')
					</when>
					<when test="key == 'user_id'">
						user_id = #{word}
					</when>
				</choose>
			</if>
		</where>
		ORDER BY notice_no DESC
		LIMIT #{offset}, #{limit}
	</select>

	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) FROM trip.notice
	</select>

	<select id="getTotalSearchCount" resultType="int">
		SELECT COUNT(*)
		FROM trip.notice
		<where>
			<if test="key != null and key != '' and word != null and word != ''">
				<choose>
					<when test="key == 'title'">
						title LIKE CONCAT('%', #{word}, '%')
					</when>
					<when test="key == 'content'">
						contents LIKE CONCAT('%', #{word}, '%')
					</when>
					<when test="key == 'user_id'">
						user_id = #{word}
					</when>
				</choose>
			</if>
		</where>
	</select>

	<insert id="writeNotice" >
		INSERT INTO trip.notice (user_id, title, contents, created_at, updated_at)
		VALUES (#{userId}, #{title}, #{contents}, NOW(), NOW())
	</insert>

	<select id="selectNotice" resultType="NoticeDto">
		SELECT
			notice_no as noticeNo,
			user_id as userId,
			title,
			contents,
			created_at as createdAt,
			updated_at as updatedAt
		FROM trip.notice
		WHERE notice_no = #{noticeNo}
	</select>

	<update id="modifyNotice" parameterType="NoticeDto">
		UPDATE trip.notice
		SET title = #{title}, contents = #{contents}, updated_at = NOW()
		WHERE notice_no = #{noticeNo}
	</update>

	<delete id="deleteNotice" parameterType="int">
		DELETE FROM trip.notice
		WHERE notice_no = #{noticeNo}
	</delete>
</mapper>