<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.trip.review.mapper.ReviewMapper">
    <select id="listUserReview" resultType="ReviewDto">
        SELECT user_id as userId, spot_id as spotId, content, score, write_at as writeAt, trip_at as tripAt
        from trip.review
        where user_id = #{userId}
    </select>
    <select id="listSpotReview" resultType="ReviewDto">
        SELECT user_id as userId, spot_id as spotId, content, score, write_at as writeAt, trip_at as tripAt
        from trip.review
        where spot_id={spotId}
    </select>

    <insert id="writeReview" parameterType="ReviewDto" useGeneratedKeys="true" keyProperty="reviewNo">
        INSERT INTO trip.review (user_id, spot_id, content, score, write_at, trip_at)
        VALUES (#{userId}, #{spotId}, #{content}, #{score}, now(),#{tripAt})
    </insert>

    <update id="modifyReview" parameterType="ReviewUpdateDto">
        UPDATE trip.review
        SET content = #{content}, score = #{score}
        WHERE user_id = #{userId} AND spot_id = #{spotId} AND review_no = #{reviewNo}
    </update>

    <delete id="deleteReview" parameterType="ReviewDeleteDto">
        DELETE FROM trip.review
        WHERE user_id = #{userId} AND review_no = #{reviewNo}
    </delete>

    <insert id="insertReviewPhoto">
        INSERT INTO reviewphotos (review_no, photo_url)
        VALUES (#{reviewNo}, #{photoUrl})
    </insert>

</mapper>